GROQ_API_KEY=gsk_tu_clave_de_groq_aqui
TAVILY_API_KEY=tvly_tu_clave_de_tavily_aqui
LANGSMITH_PROJECT=deepResearch
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2_tu_clave_langsmith_aqui
