GROQ_API_KEY=<TU_CLAVE_DE_GROQ_AQUI>
TAVILY_API_KEY=<TU_CLAVE_DE_TAVILY_AQUI>
LANGSMITH_PROJECT=deepResearch
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=<TU_CLAVE_LANGSMITH_AQUI>
